$font: 'Spartan';

body {
  background-image: url('../../resources/images/bg.png');
  font-family: $font;
  text-transform: uppercase;
}

#nav {
  li {
    float: right;
    margin: 10px;
    list-style-type: none;
    
    a:hover {
      cursor: pointer;
    }
  }
}