@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

$font: 'Spartan';
$fontColor: white;
$navSize: 225px;

body {
  font-family: $font;
  color: $fontColor;
  background-image: url('../images/bg4.png');
}

#header {
  font-family: $font;
  margin: 10px;
  float: left;
  font-size: 22pt;
}

#nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $navSize + 50px;
  padding: 5px;
  z-index: 200;
  background-image: url('../images/bg4.png');

  ul {
    position: absolute;
    top: 20px;
    right: 2%;
  }

  li {
    padding: 0;
    float: right;
    margin: 10px;
    list-style-type: none;
    
    button, button:active {
      text-transform: uppercase;
      background: none;
      border: 0;
      border-radius: 0;
      padding: 15px 10px 10px 10px;
      font-family: $font;
      font-size: 20pt;
      outline: none;
      opacity: 0.45;
      color: white;
    }

    button:hover {
      opacity: 1;
      transition: ease 0.4s;
      cursor: pointer;
    }
  }

  .active {
    button {
      opacity: 0.8;
    }
  }
}

html {
  scroll-behavior: smooth;
}

#content-inner1, #content-inner2, #content-inner3 {
  padding: 20px;
  width: calc(100% - 40px);
  font-size: 14pt;
}


a:visited {
  color: white;
  text-anchor: end;
}

#title {
  position: absolute;
  display: inline-flex;
  font-size: 28pt;
}

#profile_image {
  background-image: url('../images/profile.png');
  width: $navSize;
  height: $navSize;
  border-radius: 150px;
  border: 10px solid white;
  opacity: 0.70;
  display: inline-flex;
  margin: 20px;
}

.content {
  width: 100%;
  position: absolute;
  top: $navSize + 50px;
  left: 0;
}

@media screen and (max-width: 900px) {
  #nav {
    position: absolute;
    height: 350px + $navSize;
    width: 100%;
  }

  .content {
    width: 100%;
    position: absolute;
    top: 350px + $navSize + 50px;
  }

  #nav {
    ul {
      width: 90%;
      right: 5%;
      margin-top: $navSize + 50px;
    }
    li {
      width: 100%;
      button {
        width: 100%;
        background-color: transparent;
      }
    }
  }

  #profile_image, #title {
    top: 10px;
    position: absolute;
    left: calc(50% - 150px);
  }

  #title {
    top: 50px + $navSize;
  }
}

@media screen and (max-width: 1200px) {
  #nav {
    ul {
      width: 90%;
      right: 5%;
      top: 100px;
    }
  }
}

@media screen and (min-width:0px) and (max-width: 600px) {
  .content {
    font-size: 18pt;
  }
}

@media screen and (min-width:600px) and (max-width: 1200px) {
  .content {
    font-size: 18pt;
  }
}

@media screen and (min-width:1200px) {
  .content {
    font-size: 20pt;
  }
}