@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

$font: 'Spartan';
$fontColor: black;
$navSize: 150px;

body {
  font-family: $font;
  color: $fontColor;
  width: 100vw;
  overflow-x: hidden;
}

#header {
  font-family: $font;
  margin: 10px;
  float: left;
  font-size: 22pt;
}

#nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $navSize + 50px;
  padding: 5px;
  z-index: 200;
  background-image: url('../images/bg4.png');
  color: white;

  ul {
    position: absolute;
    top: 20px;
    right: 2%;
  }

  li {
    padding: 0;
    float: right;
    margin: 10px;
    list-style-type: none;

    button, button:active {
      text-transform: uppercase;
      background: none;
      border: 0;
      border-radius: 0;
      padding: 15px 10px 10px 10px;
      font-family: $font;
      font-size: 20pt;
      outline: none;
      opacity: 0.45;
      color: white;
    }

    button:hover {
      opacity: 1;
      transition: ease 0.4s;
      cursor: pointer;
    }
  }

  .active {
    button {
      opacity: 0.8;
    }
  }
}

html {
  scroll-behavior: smooth;
}

#content-inner1, #content-inner2, #content-inner3 {
  padding: 20px;
  width: calc(100% - 40px);
  font-size: 14pt;
}


a:visited {
  color: white;
  text-anchor: end;
}

#title {
  position: absolute;
  display: inline-flex;
  font-size: 28pt;
  margin-top: $navSize / 2;
  margin-left: 20px;
}

#profile_image {
  background-image: url('../images/profile.png');
  background-size: $navSize;
  width: $navSize;
  height: $navSize;
  border-radius: 150px;
  border: 10px solid white;
  opacity: 0.70;
  display: inline-flex;
  margin: 20px;
}

.content {
  width: 70%;
  position: absolute;
  top: $navSize + 50px;
  left: 15%;
}

.background {
  position: initial;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url('../images/bg4.png');
  opacity: 1;
}

.entry {
  background-color: rgba(24, 55, 98, 0.0);
  width: 95%;
  padding: 20px;
  border: 2px solid rgba(24, 55, 98, 0.1);
  margin-top: 25px;

  .portfolio-image {
    width: 310px;
    height: 310px
  }
}

@media screen and (max-width: 1200px) {
  #nav {
    border: 0;
    padding: 12px;
    position: absolute;
    height: 450px + $navSize;
    width: 100%;
  }

  .content {
    position: absolute;
    margin: 0;
    padding: 10px;
    left: 0;
    width: calc(100% - 24px); // 10 * 2 from padding, 2 * 2 from the border
    top: 350px + $navSize + 50px;
  }

  #content-inner1, #content-inner2, #content-inner3 {
    padding: 0;
    width: 100%;
    font-size: 11pt;
  }

  #nav {
    ul {
      width: 90%;
      right: 5%;
      margin-top: $navSize + 50px;
      top: 100px;
    }

    li {
      width: 100%;

      button {
        width: 100%;
        background-color: transparent;
      }
    }
  }

  #profile_image, #title {
    top: 10px;
    position: absolute;
    left: calc(50% - 120px);
  }

  #title {
    top: 50px + $navSize;
    margin-top: 20px;
    margin-left: -20px;
  }

  .entry {
    .portfolio-image {
      width: calc(95% + 12px);
      height: calc(95% + 12px);
    }
  }
}

@media screen and (min-width: 1200px) {
  .content {
    font-size: 18pt;
  }
}