.cv-category {
  padding: 20px;
  font-size: 24pt;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid darkslategray;
  border-top: 0;
  border-bottom: 0;
  margin: 20px;
  font-weight: lighter;
}

.cv-category:hover {
  cursor: pointer;
  border: 2px solid black;
}

.title {
  font-weight: bolder;
  font-size: 18pt;
}