.cv-category {
  width: 300px;
  padding: 20px;
  font-size: 24pt;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid darkslategray;
  border-top: 0;
  border-bottom: 0;
  margin: 20px;
  font-weight: lighter;
}

.cv-category:hover {
  cursor: pointer;
  border: 2px solid black;
}

#content-inner1 {
  left: 0;
  padding: 20px;
  width: calc(100% - 40px);
  background-image: url("../images/bg3.png");
  font-size: 14pt;
}

.title {
  font-weight: bolder;
  font-size: 18pt;
}

.entry {
  width: 95%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  margin-top: 2px;
}